<html>
<h1>@hello</h1>

немного не успеваю все интегрировать в приложение. Но суть такая, что нашел гем, который укорачивает урл.
Установил его. В веб-интерфейсе нужно реализовать авторизацию пользователя и запуск гема при удачной аутентификации.
Гем предложит ввести url, и выдаст укороченный.

Гем
require "corto"
corto = Corto.new

Гем работает в связке с SQLite3.

Запустится SQLite, появитя поле для ввода url. Затем по полученному url можно будет перейти на изначальную страницу

</html>

